body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: o;
}

.orange-color{
    color: orange;
}
section{
    display: flex;
    padding-bottom: 3%;
    margin-bottom: 5%;
}
.width-ok{
    width: 50%;
    padding-left: 2%;

}
.width-ok img{
    width: 80%;
}

.link-button{
    text-decoration: none;
    padding: 8px 25px;
    background-image:linear-gradient(red, orange);
    font-weight: 900;
    color: white;
    border-radius: 5px;

}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}
.mid-bannar{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}